@mixin sizer($active) {

  box-sizing: border-box;
  flex: 0 0 auto;
  width: $sizer-narrow-width;
  margin-top: $tab-top + $tab-height;
  cursor: map-get($sizer-cursor, right);
  background-color: $editor-frame-color;
  z-index: $z-index-sizer;
  transition: box-shadow .2s linear;

  @if $active {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  }

  &>div:first-child {
    margin-top: -$tab-top - $tab-height;
    border-width: 0 0 $menu-height $sizer-narrow-width;
    border-style: solid;
    border-color: transparent;
    height: 100%;
    border-left-color: $sizer-color;
    transition: margin-top .2s linear;
    @if $active {
      margin-top: 0;
    }
  }
}
