@mixin sizer($active) {

  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: $sizer-narrow-width;
  cursor: map-get($sizer-cursor, right);
  z-index: $z-index-sizer;
  padding-top: 0;
  transition: box-shadow .2s linear, padding-top .2s linear;

  @if $active {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    padding-top: $tab-top + $tab-height;
  }

  &>div:first-child {
    margin-top: 0;
    border-width: 0 0 $menu-height $sizer-narrow-width;
    border-style: solid;
    border-color: transparent;
    height: 100%;
    border-left-color: $sizer-color;
  }
}
