$container: #{$prefix}container !default;
$dock: #{$prefix}dock !default;
$sizer: #{$prefix}sizer !default;
$menu: #{$prefix}menu !default;
$tab_container: #{$prefix}tab_container !default;
$tab: #{$prefix}tab !default;


$aligns: (top, right, bottom, left);

@function isHorizontal($align) {
  @return $align == left or $align == right;
}

@function isVertical($align) {
  @return $align == top or $align == bottom;
}


$sizer-narrow-width: 1.5rem !default;
$sizer-cursor: (top: row-resize, right: col-resize, bottom: row-resize, left: col-resize) !default;

$menu-height: 2.5rem !default;

$tab-max-width: 8rem !default;
$tab-height: 2rem !default;
$tab-top: .5rem;

$z-index-editor: 20 !default;
$z-index-sizer: 30 !default;


// material colors
$full-black: rgba(0, 0, 0, 1);
$dark-black: rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black: rgba(0, 0, 0, 0.26);
$faint-black: rgba(0, 0, 0, 0.12);
$full-white: rgba(255, 255, 255, 1);
$dark-white: rgba(255, 255, 255, 0.87);
$light-white: rgba(255, 255, 255, 0.54);

$editor-frame-color: $full-white !default;
$sizer-color: $faint-black !default;
