$container: #{$prefix}container !default;
$screen: #{$prefix}screen !default;
$dock: #{$prefix}dock !default;
$sizer: #{$prefix}sizer !default;


$aligns: (top, right, bottom, left);

@function isHorizontal($align) {
  @return $align == left or $align == right;
}

@function isVertical($align) {
  @return $align == top or $align == bottom;
}


$sizer-narrow-width: 20px !default;
$sizer-cursor: (top: row-resize, right: col-resize, bottom: row-resize, left: col-resize) !default;


$z-index-screen: 1 !default;
$z-index-editor: 2 !default;
$z-index-sizer: 3 !default;
