// material colors
$full-black: rgba(0, 0, 0, 1);
$dark-black: rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black: rgba(0, 0, 0, 0.26);
$faint-black: rgba(0, 0, 0, 0.12);
$full-white: rgba(255, 255, 255, 1);
$dark-white: rgba(255, 255, 255, 0.87);
$light-white: rgba(255, 255, 255, 0.54);

.ReactCodeMirror {

  & {
    position: absolute;
  }

  // colors
  .CodeMirror {

    & {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      background-color: $light-white;
    }

    .CodeMirror-matchingbracket {
    	color: inherit;
    	border-bottom: 1px solid $dark-black;
    }

    .CodeMirror-gutters {
      background-color: $dark-white;
      border-color: $faint-black;
    }

    .CodeMirror-sizer>div:first-child {
      border-top: 1px solid $faint-black;
    }

  }

  // options

  .cm-tab:before {
      content: '••••';
      position: absolute;
      color: $min-black;
      border-left: 1px solid $min-black;
      visibility: hidden;
  }

  &.ReactCodeMirror__tab-visible .cm-tab:before {
      visibility: visible;
  }

  li.CodeMirror-hint-snippet {
    font-style: italic;
  }

}

.CodeMirror-hint_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
