.#{$container} {

  // generals
  background-color: #e0e0e0;
  display: none;
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  font-family: Roboto, sans-serif;

  &-open {
    display: block;
  }

}
